<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>


<body>
  <%- include('../partials/header') %>



  <main>
    <h4>Resources</h4>
    <ul>

      <% resource.forEach(partner => { %>
      <li>
        <img src="<%= partner.logo_png %>">
        <h5>Title:<%= partner.title %></h5>
        <p><%= partner.description %></p>
        <a href="<%= resource_url %>"><%= partner.resource_url %></a>
      </li>
      <% }) %>

    </ul>
  </main>


  <section>

  </section>


  <%- include('../partials/footer') %>

</body>

</html>