<html lang="en">

<%- include('../partials/head') %>


<body>


    <section id="header">
        <h1>JBLM Unlimited</h1>
        <a class="home3" href="/">Home</a>
        <a class="calendar3" href="/calendar">Calendar</a>
      </section>
  <main>
    <h4>Resources</h4>
    <ul>

      <% resource.forEach(partner => { %>
      <li>
        <h5 class="rr rt"><%= partner.title %></h5>
        <p class="rr dt"><%= partner.description %></p>
        <a class="rr" href="<%= partner.resource_url %>"><%= partner.resource_url %></a>
        <!-- <a id="pdf" href="/pdf">PDF</a> -->
      </li>
      <% }) %>

    </ul>
  </main>





  <%- include('../partials/footer') %>
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="/js/app.js"></script>
  <script>
    $('.resources_link').hide();
  </script>

</body>

</html>